{
	"CZY" :
				{
					"ONLINE" : false,
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.czy.OfflineCzy",
					"ONLINE_API" : "jl.tjgl.select.czy"
				},
	"JGZK" :
				{
					"ONLINE" : false,
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.jgzk.OfflineJgzk"
				},
	"JLCONF" :
				{
					"ONLINE" : false,
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.jlconf.OfflineJlconf",
					"ONLINE_API" : "jl.tjgl.select.jlconf"
				},
	"LEDGER" :
				{
					"ONLINE" : false,
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.ledger.OfflineLedger",
					"ONLINE_API" : "jl.tjgl.select.ledger"
				},
	"LSD" :
				{
					"ONLINE" : true,
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.lsd.OfflineLsd",
					"ONLINE_API" : "jl.tjgl.insert.lsd"
				},
	"LSDTH" :
				{
					"ONLINE" : true,
					"ONLINE_API" : "jl.tjgl.insert.lsdth"
				},
	"QueryLSDTH" :
				{
					"ONLINE" : false,
					"ONLINE_API" : "jl.tjgl.select.lsdth",
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.lsd.OfflineQueryLSDTH",
				},
	"MCSPXX" :
				{
					"ONLINE" : false,
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.mcspxx.OfflineMcspxx",
					"ONLINE_API" : "jl.tjgl.select.mcspxx"
				},
	"POSSZ" :
				{
					"ONLINE" : true,
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.possz.OfflinePossz",
					"ONLINE_API" : "jl.tjgl.select.possz"
				},
	"RULE" :
				{
					"ONLINE" : false,
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.rule.OfflineRule",
					"ONLINE_API" : "jl.rule.execute"
				},
	"SALESQUERY" :
				{
					"ONLINE" : false,
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.salesquery.OfflineSalesquery",
					"ONLINE_API" : "jl.tjgl.select.salesquery"
				},
	"SALESRETURN" :
				{
					"ONLINE" : false,
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.salesreturn.OfflineSalesReturn",
					"ONLINE_API" : "jl.tjgl.select.salesquery"
				},
	"SKFS" :
				{
					"ONLINE" : false,
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.skfs.OfflineSkfs",
					"ONLINE_API" : "jl.tjgl.get.skfs"
				},
	"SPJG" :
				{
					"ONLINE" : false,
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.spjg.OfflineSpjg",
					"ONLINE_API" : "jl.tjgl.select.spjg"
				},
	"VIP" :
				{
					"ONLINE" : true,
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.vip.OfflineVip",
					"ONLINE_API" : "jl.tjgl.get.vip"
				},
	"FFYHQ" :
				{
					"ONLINE" : true,
					"ONLINE_API" : "jl.tjgl.get.ffyhq"
				},
	"YHQ" :
				{
					"ONLINE" : false,
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.yhq.OfflineYhq",
					"ONLINE_API" : "jl.tjgl.select.qzbhjl"
				},
	"CLEARYHQ" :
				{
					"ONLINE" : true,
					"ONLINE_API" : "jl.tjgl.update.ffyhqzt"
				},
	"ZHSP" :
				{
					"ONLINE" : false,
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.zhsp.OfflineZhsp",
					"ONLINE_API" : "jl.tjgl.select.zhsp"
				},
	"DZC" :
				{
					"ONLINE" : false,
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.dzc.OfflineDzc"
				},
	"RECEIPTPRINT" :
				{
					"ONLINE" : false,
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.print.PortDeviceReceiptPrint"
				},
	"VERSION" :
				{
					"ONLINE" : false,
					"ONLINE_API" : "jl.tjgl.select.posversion",
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.version.OfflineVersion"
				},
	"CXTJ" :
				{
					"ONLINE" : true,
					"ONLINE_API" : "jl.tjgl.select.cxtj"
				},
	"device.cashdrawer" :
				{
					"ONLINE" : false,
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.device.cashdrawer.YkPosCashDrawer"
				},
	"device.linedisplay" :
				{
					"ONLINE" : false,
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.device.linedisplay.DefaultLineDisplay"
				},
	"device.printer" :
				{
					"ONLINE" : false,
					"OFFLINE_ACTION" : "com.jlsoft.rms.action.device.printer.YkPosPrinter"
				}
}
