{
	"SYS" :
				{
					"SYS_NAME" : "JL RMS Updater V10"
				},
	"GUI" :
				{
					"GUI_DEFAULT_FONT_NAME" : "",
					"GUI_DEFAULT_FONT_SIZE" : 12,
					"GUI_SKIN_NAME" : ""
				},
	"HTTP" :
				{
					"HTTP_CONNECT_TIMEOUT" : 10000,
					"HTTP_READ_TIMEOUT" : 60000
				},
	"SERVER" :
				{
					"SERVER_UPD_SSL" : false,
					"SERVER_UPD_HOST" : "rms.3chub.com:8089",
					"SERVER_UPD_NAME" : "jlsoft-bom-b2b/rmspos/update"
				},
	"I18N" :
				{
					"I18N_CURRENT" : ""
				}
}
