<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">

    <style>
        body {
            width: 80mm !important;
        }

        .content {
            width: 80mm;
        }

        table {
            width: 100%;
        }

        .first {
            white-space: nowrap;
            text-align: left;
            vertical-align: top;
            padding-right: 10px;
        }
    </style>
</head>
<body>
<div class="content">
    <div style="text-align: center">
        Welcome to Banana Home
    </div>
    <br/>
    <table>
        <tbody>
        <tr>
            <td class="first">Store Name :</td>
            <td>Banana Home Palace Mall</td>
        </tr>
        <tr>
            <td class="first">Store Address :</td>
            <td>5, Spintex Road</td>
        </tr>
        <tr>
            <td class="first">Receipt No. :</td>
            <td>R00000000001</td>
        </tr>
        <tr>
            <td class="first">Receipt Date :</td>
            <td>2019.6.21</td>
        </tr>
        <tr>
            <td class="first">Printing Time :</td>
            <td>2019.6.21 13:11</td>
        </tr>
        <tr>
            <td class="first">Cashier :</td>
            <td>Chris Lee</td>
        </tr>
        </tbody>
    </table>
    <br/>
    <div style="text-align: center">
        Transaction Details
    </div>

    <br/>
    <div style="text-align: center">
        <div>Thank you for shopping at Banana Home!</div>
        <div>Goods sold are not Returnable! Please keep the original receipt for Goods Exchange within 7 days from Date
            of Purchase.
        </div>
    </div>
</div>
</body>
</html>